<div class="schedule">
  <div class="container">
    <p-fieldset legend="I miei appuntamenti">
      <div class="appointment" *ngFor="let appointment of appointments">
        <h2>{{ appointment.legalServiceTitle }}</h2>
        <h6>{{appointment.eventDate}}</h6>
        <span *ngFor="let file of appointment.fileMetadata">{{ file.fileName }}</span>
        <button #cancelButton pButton type="button" icon="pi pi-trash" (click)="cancelAppointment(appointment.id!); cancelButton.blur();"
                class="cancelButton p-button-danger p-button-raised p-button-rounded">
        </button>
      </div>
    </p-fieldset>
  </div>
</div>
