<div class="container">
  <p-fieldset legend="I miei appuntamenti">
    <table class="styled-table">
      <thead>
      <tr>
        <th>Servizio legale</th>
        <th>Data</th>
        <th>Allegati</th>
        <th>Azioni</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{ appointment.legalServiceTitle }}</td>
        <td>{{appointment.eventDate | date: 'EEEE d MMMM y HH:mm'}}</td>
        <td class="file-column">
          <p *ngFor="let file of appointment.fileMetadata">{{ file.originalFileName }}</p>
        </td>
        <td>
          <button #cancelButton pButton type="button" icon="pi pi-trash" (click)="cancelAppointment(appointment.id!, cancelButton); cancelButton.blur();"
                  class="p-button-danger p-button-rounded p-button-text p-button-raised">
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </p-fieldset>

  <p-fieldset legend="In lista d'attesa">
    <table class="styled-table waiting-list">
      <thead>
      <tr>
        <th>Servizio legale</th>
        <th>Data</th>
        <th>Allegati</th>
        <th>Azioni</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let entity of waitingList">
        <td>{{ entity.appointment.legalServiceTitle }}</td>
        <td>{{ entity.appointment.eventDate | date: 'EEEE d MMMM y HH:mm' }}</td>
        <td class="file-column">
          <p *ngFor="let file of entity.appointment.fileMetadata">{{ file.originalFileName }}</p>
        </td>
        <td>
          <button [disabled]="!entity.appointment.eventId" #confirmButton pButton type="button" icon="pi pi-check"
                  (click)="confirmAppointment(entity.appointment, confirmButton, cancelButton); confirmButton.blur();"
                  class="p-button-success p-button-rounded p-button-text p-button-raised" style="margin-right: 8px">
          </button>
          <button #cancelButton pButton type="button" icon="pi pi-trash" (click)="cancelWaitingListEntity(entity.id!, confirmButton, cancelButton); cancelButton.blur();"
                  class="p-button-danger p-button-rounded p-button-text p-button-raised" style="margin-left: 8px">
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </p-fieldset>
</div>
