<p>booking works!</p>

<form [formGroup]="bookingFormGroup">
  <p-dropdown
    [loading]="legalServicesDropdown.length === 0"
    placeholder="Seleziona un servizio"
    formControlName="legalService"
    optionLabel="title"
    [options]="legalServicesDropdown"
    (onChange)="onLegalServiceSelected($event)"
  />

  <p-calendar (onSelect)="onDateSelect($event)"
              placeholder="Seleziona una data"
              showOtherMonths="false"
              showIcon="true"
              showButtonBar="true"
              dateFormat="dd/mm/yy"
              [firstDayOfWeek]="1"
              [minDate]="minDate"
              [maxDate]="maxDate">
  </p-calendar>
</form>

