<div class="container">
  <div class="dropdown-container">
    <p-dropdown
      [loading]="legalServicesDropdown.length === 0"
      placeholder="Seleziona un servizio"
      optionLabel="title"
      [options]="legalServicesDropdown"
      (onChange)="onLegalServiceSelected($event)"
    />
  </div>

  <div class="calendar-container">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>

<p-overlayPanel #overlayPanel>
  <div class="flex flex-column gap-3 w-25rem">
    <div>
      <span class="font-medium text-900 block mb-2">Share this document</span>
    </div>
  </div>
</p-overlayPanel>
