.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  gap: 8px
}

.p-toolbar-group-start {
  padding-left: 12px;
}

.p-toolbar-group-end {
  padding-right: 12px;
}

.brand {
  margin: 0;

  font-family: 'Lora', serif;
  font-size: 2rem;
  font-weight: 400;

  letter-spacing: 6px;

  text-align: center;
  text-transform: uppercase;
}
